.product-item .texts {
  @apply px-[18px] pt-[18px] pb-[30px];
}

.product-item .texts .product-title {
  @apply text-[20px] md:text-[24px];
}

.product-item .texts .product-subTtitle {
  @apply text-[14px] md:text-[16px]

          my-[4px] md:my-[8px];
}

.product-item .texts .price .price-main {
  @apply text-[16px] md:text-[20px];
}

.product-item .texts .price .price-sub {
  @apply text-[14px] md:text-[16px];
}

.overlay {
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: #0000008a;
  transition: 0.4s;
  opacity: 0;
}

.product-item:hover .overlay {
  opacity: 1;
  width: 100%;
}
